<div class="product-easy">
	<div class="container">
		<center>
			<button id="make_train_data" class="btn btn-primary">Manipulasi Data Training</button>
			<button id="make_sample_data" class="btn btn-primary">Manipulasi Data Sampel</button>
		</center>
	</div>
</div>