<div class="product-easy">
	<div class="container">
		<table class="table table-hover table-striped">
			<tr>
				<td>Nama Produk</td>
				<td>{{ product.name }}</td>
			</tr>
		</table>
	</div>
</div>